<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::layout(~{::main})">
<head>
<meta charset="UTF-8" />
</head>
<title></title>
<body>
	<main class="container">
		<div class="row">
			<div class="div col-md-6 offset-md-3">
				<div class="card mt-4 bg-info">
					<div class="card-body">

						<div class="card">
							<div class="card-body">

								<div
									class="card-header text-center text-white bg-primary rounded-pill">
									<u><h5>Change Password</h5></u>
								</div>
								<hr />

								<form action="#" th:action="@{/admin/changeProccess}"  method="post">

									<div class="mb-3">
										<label for="oldPassword" class="form-label">Old Password</label> <input
											type="text" class="form-control" name="oldPassword"
											id="oldPassword" placeholder="Enter Old password...">
									</div>

									<div class="mb-3">
										<label for="newPassword" class="form-label">New Password</label> <input
											type="text" class="form-control" name="newPassword"
											id="newPassword" placeholder="Enter New Password...">
									</div>


									<hr />
									<div class="container text-center">

										<button type="submit" class="btn btn-primary">Change</button>

										<button type="reset" class="btn btn-warning">Reset</button>

									</div>

								</form>




							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>


</body>
</html>